* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

html, body, .container {
    height: 100vh;
}

.menu>ul, .settings>ul {
    display: flex;
    flex-direction: column;
    
}
.menu>ul>li, .settings>ul>li {
    display: grid;
    grid-template-columns: 5rem auto;
}

li>h2 {    
    position: relative;
    top: 0.23rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
}

input {
    position: relative;
    top: .9rem;
    
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 20rem auto;
    grid-template-rows: 12rem auto;

}

.header {
    padding-top: 5px;
    padding-left: 4rem;
    padding-right: 4rem;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 50rem auto 22rem;
    grid-template-rows: 5rem 6.8rem;
}



.user-container {
    margin-left: auto;
    display: grid;
    grid-template-columns:4rem 5rem auto;
    justify-items: center;
    

}

.sidebar {
    /* border-style: solid;  */
    min-width: 20rem;
    display: grid;
    grid-template-rows: 6rem 27rem auto;
    background-color: lightseagreen;
    color: white;
    grid-column: 1 / 2;
    grid-row: 1 / 3;

}

.main {
    background-color: lightgray;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.logo {
    /* border-style: solid; */
    display: flex;
    align-items: center;
    justify-content: left;
    /* display: grid;
    grid-template-columns: 1fr 5fr;     */
}

#main-logo {
    position: relative;
    fill: white;
    padding: 14px;
    height: 3rem;
    width: 2rem;
}
#logo {
    position: relative;
    margin-left: auto;
    fill: white;
    padding: 14px;
    height: 2rem;
    width: 2rem;
}

.menu {
    /* border-style: solid; */
    
}

.settings {
    /* border-style: solid; */
    
}

.search-form {
    display: grid;
    grid-template-columns: 64px auto;

}

.search-field {
    background-color: lightgrey;
    width: 42rem;
    height: 32px;
    border-radius: 25px;
    border-style: none;
}

.projects {

}

.announcements {

}

.notices {

}

.trending {

}

#user {
    width: 52px;
    height: 52px;
}
#user-greeting {
    width: 84px;
    height: 84px;
}

